<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiWuShuo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A370114F1D4F49F00012B44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A37011631D4F49F10012B44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A370116E1D4F49F10012B44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
